body {
  background-color: rgb(29, 29, 34);
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

.header {
  color: rgb(252, 251, 255);
  display: flex;
  height: 100%;
  padding: 30px;
  background: linear-gradient(to bottom, rgba(34, 43, 90, 0.993), rgb(29, 29, 34));
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-ligth-mask {
  width: 30%;
  padding-bottom: 20px;
  margin: 0;
  filter: drop-shadow(0 0 0.8rem rgb(181, 181, 194));
}

/* Choose block */
.chooseContainer {
  background-color: rgba(139, 150, 173, 0.404);
  display: flex;
  gap: 5px;
  border-radius: 50px;
  margin-bottom: 10px;
  
  position: relative; /* Добавляем позиционирование контейнера */
}

.chooseItem {
  background-color: transparent;
  color: aliceblue;
  border: none;
  border-radius: 50px;
  padding: 10px 10px;
  font-size: 1.1em;
  margin: auto;
  flex-grow: 1;
  
  cursor: pointer;
  
  background-color: transparent;
  transition: color 0.8s;
}

.chooseItem.active {
  background: transparent;
  color: rgb(22, 5, 255);
  background-color: rgba(250, 250, 250, 0.692);
  filter: drop-shadow(0 0 0.9rem rgb(145, 145, 151));
  
  transition: background-color 2s;
}

.highlightBox {
  background-color: rgba(250, 250, 250, 0.692);
  filter: drop-shadow(0 0 0.9rem rgb(145, 145, 151));

  position: absolute;
  border-radius: 50px;
  height: 100%;
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

/* End choose block */

.selectGroupContainer {
  font-size: 0.9em;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.selectGroupChooseGroup {
  background-color: rgba(139, 150, 173, 0.404);

  color: aliceblue;
  font-weight: bold;
  font-size: 0.7em;
  font-family: 'Montserrat', sans-serif;

  width: 135px;
  border-radius: 5px;
  padding: 5px;
}
.selectGroupChooseGroup:focus {
  outline: 1px solid rgb(208, 255, 20);
}
.selectDateContainer {
  font-size: 0.9em;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.selectDateInput {
  color: aliceblue;
  font-weight: bold;
  font-size: 0.7em;
  font-family: 'Montserrat', sans-serif;

  background-color: rgba(139, 150, 173, 0.404);
  width: 135px;
  border-radius: 5px;
  padding: 5px;
  border: 0;
}
.selectDateInput:focus {
  outline: 1px solid rgb(208, 255, 20);
}
.mainContainer {
  width: 90%;
  margin: 20px auto;
  background-color: rgba(139, 150, 173, 0.404);
  border-radius: 20px;
}
.mainContent {
  padding: 20px;
}

.scheduleSubjects {
  display: flex;
  flex-direction: column;
}

.scheduleTimeBlock {
  display: flex;
  align-items: center;
}
.scheduleDivider {
  width: 100%;
  border-bottom: 5px dotted aliceblue;
}
.scheduleTime {
  position: relative;
  left: -6px;
  color: aliceblue;
}
.scheduleInfo {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 20px;
  margin-bottom: 10px;
}
.lessonTitle, .lectorName {
  margin: 15px 0px;
  
  font-weight: bold;
  font-size: 0.8em;
  color: aliceblue;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.4em;
}

.lessonInfoBox {
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  background-color: rgb(210, 195, 62);
  border-radius: 30px;
  margin: 0;
}

.lect {
  background-color: rgb(210, 195, 62);
}
.pract {
  background-color: rgb(62, 84, 206);
}
.lab {
  background-color: rgb(197, 129, 52);
}
.first-subgroup {
  background-color: rgb(86, 141, 185);
}
.second-subgroup {
  background-color: rgb(153, 197, 96);
}
.common {
  background-color: rgb(143, 142, 139);
}

.editLessonButton {
  margin: 10px -20px -10px -20px;
  padding: 10px 15px;
  width: 100%+1px;

  background-color: rgba(255, 255, 255, 0.171);
  
  border-radius: 0px 0px 20px 20px ;

  text-align: center;
  font-weight: bold;
  color: aliceblue;
  font-size: 0.8em;

  cursor: pointer;
}

.hide {
  display: none;
}